body{
    background-color: #090427 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.mainImg{
    max-height: 600px;
    width: 100%;
}

.Logo
{
    max-height: 80px;
    width: 80%;
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    font-size: larger;
}
.card{
    padding: 5%;
    min-height:150px;
    border-style: none !important;
    margin: 5%;
}
#Sub-section, #About_Us, #Services{
    padding: 5%;
    color:#090427 !important;
}
.fab{
    color: rgb(34, 100, 161);
    padding-left: 10px;
}
.bg-white
{
    background-color: na;
}

/*Contact us form*/
.contactSection {
    background-image: url('./pictures/3.png');
    margin: 0 !important;

}
.newS{
    background-color: #090427e5 !important;
    min-height: inherit !important;
}
.subContact{
    padding: 5%;
    padding-bottom: 0 !important;
    text-align: center;
    color:yellow;
    transition: 1s;
}

    .col-sm-7 {
        padding-bottom: 4%;
        transition: 1s;
        border-radius: 20px !important;
    }
    .form-control {
        background-color: #f8f8f800 !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 2% !important;
        color: rgb(0, 111, 175);
        border-color: yellow;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    #exampleFormControlTextarea1 {
        width: 100% !important;
        border-radius: 0;
        background-color: rgba(245, 245, 245, 0);
        color: rgb(46, 46, 46);
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: rgba(34, 34, 34, 0.205);
        padding: 3%;
    }
    h1,  h3{
        color:yellow;

    }
    h2, p{
       color:  rgb(255, 255, 255) !important;
    }
    h4{
        color:  rgb(255, 255, 255) !important;
    }
    .btn .btn-primary{
        width: 100% !important;
        margin-top: 3%;
        border-radius: 5px;
        background-color: rgba(0, 98, 128, 0.884);
        color: rgb(230, 230, 230);
    }
    .row {
        padding-right: 5%;
        padding-left: 5%;
        margin: 0 !important;
    }
    #emailSub {
        background-color: rgba(255, 255, 255, 0.959);
        padding: 1%;
        margin-bottom: 1%;
    }
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(37, 37, 37);
        opacity: 1;
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(41, 41, 41);
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgb(48, 48, 48);
    }
 
/*Footer*/
.footerSub{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
}
.row, .cardT, .cardt{
    margin: 0 !important;
    padding: 0 !important; 
    color:  rgb(0, 0, 0) !important;
}
.carousel-caption{
    height: 440px;
}
.mainTitle{
    font-size: 70px !important;
}
.btn{

    padding: 1% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 5px;
    border-radius: 100px !important;
    
}

@media (max-width: 768px) { 
    .col-sm-6{
      width: 100%;
    }
}